API_KEY = "your routsem api key"
HUGGINGFACEHUB_ACCESS_TOKEN = "you huggingface api key"
TK_API_KEY = "your token router api key"
OPENROUTER_API_KEY = "your open router api key"

GOOGLE_API_KEY = "your google api key"